html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: 'Oswald', sans-serif;
  background-color: #d0084e;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #4db416;
  text-shadow: 3px 3px 1px rgb(12, 98, 42);
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #07a245;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(184, 19, 19);
}
table {
  border: 4px solid rgb(13, 10, 10);
}
th,
td {
  border: 2px solid rgb(30, 255, 0);
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.done {
  color: rgb(43, 87, 43);
  text-decoration: line-through solid black 2px;
}
label {
  display: block;
  font:
    1rem 'Oswald',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}
label {
  display: block;
  font:
    1rem 'Oswald',
    sans-serif;
}
input,
label {
  margin: 0.4rem 0;
}
label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
}

label {
  display: block;
  margin-bottom: 10px;
}
